NODE_ENV=development


POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rmq_modular_monolith


PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin


DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=rmq_modular_monolith

// rabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

RABBITMQ_ORDERS_EXCHANGE=orders.exchange
RABBITMQ_ORDERS_ROUTING_KEY=orders.key

RABBITMQ_NOTIFICATIONS_QUEUE=notifications.queue

RABBITMQ_NOTIFICATIONS_RETRY_EXCHANGE=notifications.retry.exchange
RABBITMQ_NOTIFICATIONS_RETRY_ROUTING_KEY=notifications.retry.key
RABBITMQ_NOTIFICATIONS_RETRY_QUEUE=notifications.retry.queue

RABBITMQ_DLX=global.dlx
RABBITMQ_DLX_ROUTING_KEY=global.key
RABBITMQ_DLQ=global.dlq

RABBITMQ_RETRY_DELAY=5000
RABBITMQ_MAX_RETRIES=3