NODE_ENV=development


POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rmq_modular_monolith


PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin


DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=rmq_modular_monolith